.actions-menu{
    padding: 40px 30px;
}

.form-row{
    padding: 0px 5px;
}

.actions-menu-content{
    display: flex;
    justify-content: space-between;
}

.actions-menu-content > button.btn.btn-primary{
    height: 40px;
}

.alert{
    display: none;
}